/*https://www.web-dev-qa-db-es.com/es/javascript/como-leer-un-archivo-json-local-externo-en-javascript/1043362222/#:~:text=json)%20usando%20javascript%2C%20primero%20cree,junto%20con%20el%20archivo%20javascript.*/




/*----------------*/
.mybody{
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, #ad125b 30%, #f26e25);
    margin: 0;
    padding: 0;
    top: 0;
}

.imagen
 {
    width: 100%;
    height: 50%;
    display: flex;
    position: fixed;
    top: 2%;
    justify-content: center;

 }

 .imagen img
{
    display: flex;
    position: fixed;
    position: relative;
    z-index: 0;
    
}

.imagen .cartel{
    top: 1.4rem;
    font-size: 3rem;
    padding: 0.25rem;
    font-weight: 500;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    background: #ffeb96;
    text-shadow: 0px 0px 5px #5692d8, 0px 0px 15px #5692d8, 0px 0px 30px #5692d8;
    box-shadow: 4px 3px 4px 0px #000000a6;
    animation: changeColor 0s infinite linear alternate-reverse;

}

.imagen .cartel-subtitle{
    top: 8.4rem;
    padding: 0.25rem;
    font-weight: 500;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    
    background: #ffeb96;
    /* border: 1px solid black; */
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px #5692d8, 0px 0px 15px #5692d8, 0px 0px 30px #5692d8;
    box-shadow: 4px 3px 4px 0px #000000a6;
    animation: changeColor 0s infinite linear alternate-reverse;

}

@keyframes changeColor {
    0%{text-shadow: 0px 0px 5px #000000, 0px 0px 15px #000000, 0px 0px 30px #000000;
        color: white;}
    20%{text-shadow: 0px 0px 5px #000000, 0px 0px 15px #000000, 0px 0px 30px #000000;
        color: gray;}
    40%{text-shadow: 0px 0px 5px #000000, 0px 0px 15px #000000, 0px 0px 30px #000000;
        color: white;}
    60%{text-shadow: 0px 0px 5px #000000, 0px 0px 15px #000000, 0px 0px 30px #000000;
            color: gray;}
            100%{text-shadow: 0px 0px 5px #000000, 0px 0px 15px #000000, 0px 0px 30px #000000;
                color: white;}

}

.container
{
    display: flex;
    flex-direction: column;
    background: orange;
    position: absolute;
    align-items: center;
    margin-left:5%;
    margin-right: 10%;
    top: 50%;
    z-index: 1;
    height: auto;
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
}

/*HOW TO BUY*/
.paso{
    display: flex;
    flex-direction: column;
}
.ContentNumber{
    border: 1px solid black;
    position: absolute;
    border-radius: 50%;
    color: black;
    background: white;
    height: 2rem;
    width: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Number{
    text-align: center;
    

}
.paso text{
position: relative;
}
.container .howToBuy,.json
.seccion, .icon-inner, path
{
    color: darkmagenta;
    font-size: xx-large;
    text-shadow: 3px 1px black;
    
}

.seccion .iconSeccion ion-icon{
    color: black;
    
}
/*tarjetas*/
/*tarjetas*/
.container
.explicacion
{
    display: flex;
    width: 90%;
    gap: 1rem;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;

}
.container
.explicacion
.paso
{
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    border-radius:10px;
    overflow: hidden;
    
}


.container .explicacion .paso figure{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 10rem;
    height: 8rem;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.container .explicacion .paso figure img{
    
    position: relative;
    width: 100%;
    
    
}

.container
.explicacion
.paso
text{
    position: relative;
    top:8rem;
    height: 2rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(45deg, #7f2837, #e96666);
    text-align: center;
    justify-content: center;
    
    
}
/*Atencion*/

.atencion{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff00004a;
    border: 1px solid black;
    width: 100%;
}
.atencion h3{
    color: red;
    text-shadow: 1px 1px black;
}
.atencion p{
    text-align: center;
    margin:0.5rem;
}


                        /*JSON*/
                        .TagSeleccionado{
                            width: 80%;
                            position: absolute;
                            top: 1.6rem;
                            transform: rotate(-45deg);
                            background: red;
                            color: white;
                            left: -1.7rem;
                        }
/*Barra de Busqueda*/
.DivBusador{
   
    box-shadow: 3px 3px 5px black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    position: sticky;
    top: 2.2rem;
    z-index: 1;
    row-gap: 0.25rem;
    background-color: #f0ffffe0;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 3px;
}

.contenedorInput{
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.DivBusador button{
    color: wheat;
    background-color: #ae3a52;
    border-radius: 4px;
    height: 2rem;
    margin-left: 0.25rem;
    /* font-weight: bold; */
    font-size: 0.7rem;
    text-align: center;
    margin-right: 0.25rem;
}
.DivBusador input{
    width: 80%;
    height: 1.7rem;
    

}
                    /*irDivision*/
                    .irDivision ul{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        justify-content: center;
                        align-items: center;
                        padding: 2%;

                    }
                    .irDivision ul a {
                        text-decoration: none;
                    }
                    .irDivision ul li{
                        padding: 0.25rem;
                        text-shadow: 1px 1px black;
                        color: salmon;
                        border: 1px solid black;
                        /* color: white; */
                        text-decoration: none;
                        list-style: none;
                        border-radius: 5px;
                        row-gap: 0.25rem;
                        background-color: #f0ffff47;
                    }
.json
{
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
    
    
    height: auto;
    width: 100%;
}
                                .json
                                .seccion
                                {
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                }

.container
.json
.child
{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}

                .container
                .json
                .child
                img
                {
                    
                    position: relative;
                    width: 10rem;
                    height: 10rem;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    
                    
                }



                            .container
                            .json
                            .child:hover
                            {
                                border: 1px solid black;
                            }

.container
.json
.child
h3{
    margin: 0;
    font-size: 1rem;
    width: 100%;
    padding: 0;
    text-align: center;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}



          


.container
.json
.child
div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 2rem;   
    width: 100%;
    background: rgb(255, 255, 255);
    
}


.container
.json
.child
button
{
    text-shadow: 1px 2px black;
    font-family: fantasy;
    color: aliceblue;
    width: 100%;
    background: salmon;
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
}
    



                        
.container
.json
.child .buyanimate
{   
    
    position: relative;
    font-size: 0.9rem;
    color:white;
    transform: rotate(-45deg);
    left: -3rem;
    top: -0.5rem;
    background: red;
    font-weight: 400;
    
}

/*LOADING*/
.loading{
border: 4px solid rgba(0, 0, 0, 0.1);
width: 36px;
height: 36px;
border-radius: 50%;
border-left-color: #09f;
animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*funciono?*/
/*CONTENEDOR PANEL, =>(CHILD) CARRITO, CUENTA*/
.containerPanel
{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    top: 2rem;
    z-index: 2;
    height: 100%;
    transform: translateX(90%);
    transition: 0.5s;
}                                
                                  
                                    .containerLista{
                                        visibility: hidden;
                                        background: orange;
                                        margin-left: 1rem;
                                        height: 100%;
                                        opacity: 0.25;
                                        transition: 0.5s;  
                                        overflow-y: scroll;        
                                        margin-bottom: 4rem;                            
                                    }
                                  

.containerPanel 
.iconChango
{

    display: flex;
    position: relative;
    margin-top: 0.5rem;
    height: 3rem;

}
.containerPanel 
.iconChango
ul
{
   
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    
}

.containerPanel 
.iconChango
ul
li
{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    height: 3.5rem;
    align-items: center;

}
#icon
{
    display: flex;
    background: linear-gradient(45deg, #ed5176, #340d0d);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: black;
    font-size: 1.5rem;
}


                            #animateCarrito{
                             border: 2px solid red;
                             border-radius: 50%;
                             display: flex;
                             position: absolute;
                             
                             width: 1rem;
                             height: 1rem;  
                             z-index: -10;
                             transition: 1s;
                            }

                                          
#carritoCont{
    
    position: absolute;
    color: black;
    font-weight: 700;
    background: white;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    top: -0.4rem;
    left: -0.4rem;
    border: 1px solid black;
}
#carritoTotal
{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    background: linear-gradient(45deg, black, gray);
    color: white;
    text-shadow: 1px 1px #bb3f5a;
}


/*CONTAINERLISTA*/
.containerLista
{
    border: 1px solid black;
}


                                    /*CUENTA*/
                                    .total
                                    {
                                        width: 100%;
                                        height: auto;
                                    }

                                  
                                    .listacompra
                                    {
                                        border: 1px solid red;
                                        display: block;
                                        position: relative;
                                        width: auto;
                                        height: auto;
                                        text-align: center;

                                    }

                                    .containerLista 
                                    .listacompra
                                    .true
                                    {
                                        background: chocolate;
                                    }
                                    .containerLista 
                                    .listacompra
                                    .false
                                    {
                                        background: orange;
                                    }

                                    .containerLista 
                                    .listacompra
                                    td
                                    {
                                        border: 1px solid green;
                                    }

                                    .listacompra 
                                    thead 
                                    td
                                    {
                                        font-weight: 700;
                                    }
                                   
                                   


/*BOTONES CUENTA*/


.btnAgregar,.btnEliminar{
    color: white;
    border-radius: 10px;
}

.btnEliminar:hover, .btnAgregar:hover
{
    box-shadow: 0 0 4px white;
    color: orange;
}

                                .btnEliminar
                                {
                                    background: rgb(67, 11, 11);
                                
                                }
                                .btnAgregar
                                {
                                    background: rgb(11, 67, 14);
                                
                                }
                                .listacompra 
                                button
                                {
                                    font-weight: 600;
                                    font-size: 1rem;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    margin-left: 0.5rem;
                                }
                                .listacompra 
                                .tdbuttons
                                {   
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0.3rem;
                                }

/*BOTONES */
.btnContinuar,
.btnBorrar

{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 00.5rem;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background: rebeccapurple;
    opacity: 0.3;
                                    }

                                    .btnContinuar:hover,
                                    .btnBorrar:hover
                                    {
                                       box-shadow: 0 0 4px white;
                                       color: orange;

                                    }

                                    .total 
                                    text,.total h3
                                    {   
                                        display: flex;
                                        font-size: 1.5rem;
                                        font-weight: 600;
                                        text-align: center;
                                        justify-content: center;

                                    }

                                    .containerLista h3
                                    {   
                                        display: flex;
                                        font-size: 1.5rem;
                                        font-weight: 600;
                                        text-align: center;
                                        justify-content: center;
                                        color: red;
                                    }


#datosContacto input, #datosContacto textarea
{
    margin-top: 1rem;
}

#datosContacto button, .btnenviarPedido
{
    text-align: center;
    text-decoration: none;
    background: rgb(9, 215, 47);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 1rem;
}



.contname{
    display: flex;
    justify-content: center;
}
.contname
.inputName{
    margin-left: 2rem;
    height:1rem;
    border-radius: 3px;
    background-color: #f0ffffe0;
}
.total 
.titlename{
    font-size: 1rem;
    display: flex;
}

.total 
.metodoPago{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.total 
.metodoPago h4{
  margin-bottom: 0rem;
}


.total 
.metodoPagoCash{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.total .metodoPagoCash text{
    font-size: 1rem;
}

.total 
.metodoPago #divmetodoPago{
    display: flex;
    flex-direction: row;
}

.total
.metodoPago
text{
    font-size: 1rem;
}
.total
.metodoPago
input{
    margin: 0;
    margin-left: 2rem;
}

.abono{
    width: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.envio
h3{
    display: block;
width: 100%;    
}

.envio
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.circuloCasa,.circuloLocal
{
    display: flex;
    border-radius: 50%;
    background: white;
    align-items: center;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    border: 1px solid black;
}
.envio
.circuloCasa
.texto,
.envio
.circuloLocal
.texto{
    display: flex;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: red;
    
}
                    .envio
                    .circuloCasa:hover,
                    .envio
                    .circuloLocal:hover{
                        background: green;
                    }
                    .envio
                    .circuloCasa:hover
                    .texto,
                    .envio
                    .circuloLocal:hover
                    .texto{
                        color: white;

                    }

                    /*circulo CASA y Local ACTIVO*/

                    .envio
                    .circuloCasa.activo,
                    .envio
                    .circuloLocal.activo{
                        background: green;
                    }
                    .envio
                    .circuloCasa.activo
                    .texto,
                    .envio
                    .circuloLocal.activo
                    .texto{
                        color: white;

                    }





#datosDireccion{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
#datosDireccion
.input{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.enviarPedido{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
/*divisiones*/
.division{
    color: salmon;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    font-size: xx-large;
    text-align: center;
    background-color: #f0ffff47;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    margin-top:3rem;

}
.division h3{
    margin: 0;
}

/*Contactos*/
.contactos{
    display: flex;
    position: fixed;
    bottom: 2rem;
    left: 0.5rem;
}
.contactos button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: none;
    border:none;
    color: green;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    background-color: #f0ffffe0;
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.footer p{
    text-align: center;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer li{
    list-style: none;
    margin-top: 2rem;
    text-align: center;
} 

.footer li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}